@font-face {
  font-family: 'LXGWWenKai woff2';
  src: url('/fonts/LXGWWenKaiMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Maple ttf';
  src: url('/fonts/MapleMono-NF-CN-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
    // 文章框的底色
    --va-c-bg-light: rgba(255, 255, 255, 0.8);
    // 字体
  --va-font-serif:  'LXGWWenKai woff2',STKaiti,STZhongsong,'Noto Serif SC',  KaiTi, Roboto,  serif;
  --va-font-sans: 'LXGWWenKai woff2',"Segoe UI",Inter, -apple-system, BlinkMacSystemFont,  Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --va-font-mono: 'LXGWWenKai woff2',"Courier New",Menlo, Monaco, Consolas,  monospace;
  --va-font-Yun-family: 'LXGWWenKai woff2',"Courier New",Menlo, Monaco, Consolas,  monospace;
  
}

// 页眉页脚渐变色
.yun-page-header-gradient {
    background: linear-gradient(to right,rgba(255, 237, 170, 0.2) 0,rgba(255, 254, 173, 0.2) 100%);
}
.yun-footer-gradient {
    height: 130px;
    background: linear-gradient(to right,rgba(255, 237, 170, 0.2) 0,rgba(255, 254, 173, 0.2) 100%);
}

// 夜间模式
html.dark{
    --va-c-bg-light:rgba(5, 16, 29, 0.8);
    .yun-page-header-gradient {
        background: linear-gradient(to right,rgba(0, 0, 0, 0.2) 0,rgba(0, 0, 0, 0.2) 100%);
    }
    .yun-footer-gradient {
        height: 130px;
        background: linear-gradient(to right,rgba(0, 0, 0, 0.2) 0,rgba(0, 0, 0, 0.2) 100%);
    }
}

// 首页大字两边的背景
.char-left {
    border-right:0px solid rgba(160, 234, 242, 0.546)
}
.char-right {
    border-left:0px solid rgba(148, 229, 240, 0.546)
}